<p style="color: green"><%= notice %></p>

<% content_for :title, "Tweets" %>

<h1>Tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>

<%= link_to "New tweet", new_tweet_path %>




<%= form_with url: tweets_path, method: :get, local: true do %>
  <%= label_tag :query, "Buscar Tweets" %>
  <%= text_field_tag :query, params[:query], placeholder: "Buscar..." %>
  <%= submit_tag "Buscar" %>
<% end %>
